<div class="album-artis">
{{#each items}}
  <div class="album">
    <img src="{{images.0.url}}" alt="{{name}}">
        <h2>{{name}}</h2>
    <button class="butt-tracks"><a href="/tracks/{{id}}">View tracks</a></button>
    <button class="butt-tracks"><a href="/">Go home</a></button>
    <hr>
  </div>
{{/each}}
</div>
