

<div>
  <form method-"GET" action="/artist-search">
    <Label>Search by Artist</Label>
    <input type="text" name="title"/>
    <button type="submit">Search for an Artist</button>
  </form>
</div>


