<div class="form-search">
  <form class="search" method-"GET" action="/artist-search">
    <input type="text" name="title"/>
    <button class="button-search" type="submit">Search for an Artist</button>
  </form>
</div>


