{{#each items}}
  <div class="track-div">
    <div class="tracks">
      <h3>{{name}}</h3>
      <audio controls src="{{preview_url}}">
        <a href="{{preview_url}}">Download</a>
      </audio>
    </div>
  </div>
{{/each}}